<!DOCTYPE html> 
<html lang="ro"> 
<head> 

<style type="text/css">


body{margin-left:0px;}

.patrat{
   display:inline-block; 
   width:150px;
   height:150px;
   background-color:red;
  
 }


#drept{
   width:80px;
   height:600px;
   background-color:#00FF00;
   float:left;
   margin-right:15px;
  }



p{font-weight:bold;}

#fl {float:left;
     margin-right:20px;}





</style>


<meta charset="utf-8">
<title> blabla </title>
<link href="favi.png" type="image/png" rel="shortcut icon" />
 </head>

<body> 


 


 <div id="drept"> <h4> float left </h4> </div>
 
 <div> <h3> Primul div </h3>

<p> Paragraf 1:
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo. In in nibh vitae enim interdum lobortis. Duis euismod condimentum lacus, eget hendrerit nisi semper vel. 


<p/>

<p> Paragraf 2 normal <span class="patrat" > span inline-block  </span>  <span class="patrat" > span inline-block  </span> </p>

<p>
Paragraf 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo. 
<p/>
</div>

 <div> <h3> Al doilea div </h3>

<p> Paragraf 1:
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo. In in nibh vitae enim interdum lobortis. Duis euismod condimentum lacus, eget hendrerit nisi semper vel. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo.

<p/>

<p id="fl"> Paragraf 2 float <span class="patrat" > span inline-block </span>  <span class="patrat" > span inline-block  </span> </p>

<p>
Paragraf 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo.
<p/>
</div>


</body>
</html>

