<!DOCTYPE html> 
<html lang="ro"> 
<head> 

<style type="text/css">
figcaption, h2, section {text-align:center;}

h2{text-shadow: 2px 2px 2px blue;}

h2 {color:red;}

#ff1 { 
     margin-left :auto;
     margin-right:auto;
     margin-top:200px;
     width:400px; }

#ff2 {margin-left :auto;
     margin-right:auto;
     margin-top:200px;
     width:800px;}

.gg {margin:10px;  display: inline-block;}
     


</style>

<meta charset="utf-8">
<title>Galerie</title>

 </head> 


<body>
<section id="ff1">
<h2> Galerie de imagini I</h2>
<figure class="gg">
<img src="Iarna.jpg" alt="iarna" width="150" height="90">
<figcaption> peisaj de iarna </figcaption>
</figure>

<figure class="gg">
<img src="Vara.jpg" alt="vara" width="150" height="90">
<figcaption> flori de vara </figcaption>
</figure>

<figure class="gg">
<img src="Iarna.jpg" alt="iarna" width="150" height="90">
<figcaption>   iarna </figcaption>
</figure>

<figure class="gg">
<img src="Vara.jpg" alt="vara" width="150" height="90">
<figcaption>  vara </figcaption>
</figure>
</section>

<section id="ff2">
<h2> Galerie de imagini II</h2>
<figure class="gg">
<img src="Iarna.jpg" alt="iarna" width="150" height="90">
<figcaption> peisaj de iarna </figcaption>
</figure>

<figure class="gg">
<img src="Vara.jpg" alt="vara" width="150" height="90">
<figcaption> flori de vara </figcaption>
</figure>

<figure class="gg">
<img src="Iarna.jpg" alt="iarna" width="150" height="90">
<figcaption>   iarna </figcaption>
</figure>

<figure class="gg">
<img src="Vara.jpg" alt="vara" width="150" height="90">
<figcaption>  vara </figcaption>
</figure>
</section>

</body>






 </html>
