<!DOCTYPE html> 
<html lang="ro"> 
<head> 

<style type="text/css">
figcaption, h2, section {text-align:center;}

h2{text-shadow: 2px 2px 2px blue;}

h2 {color:red;}


     
#container {display: flex;
      flex-flow: row wrap;
           }
      
.item {
  flex: auto;
  margin: 1em;
 }

.imgf {
  width: 100%; height:auto;}
}

</style>

<meta charset="utf-8">
<title>Galerie</title>

 </head> 


<body>

<section id="container">

<figure class="item">
<img src="Iarna.jpg" alt="iarna" class="imgf">
<figcaption> peisaj de iarna </figcaption>
</figure>

<figure class="item" >
<img src="Vara.jpg" alt="vara" class="imgf">
<figcaption> flori de vara </figcaption>
</figure>

<figure class="item">
<img src="Iarna.jpg" alt="iarna" class="imgf">
<figcaption>   iarna </figcaption>
</figure>

<figure class="item">
<img src="Vara.jpg" alt="vara"  class="imgf">
<figcaption>  vara </figcaption>
</figure>

<figure class="item">
<img src="Iarna.jpg" alt="iarna" class="imgf">
<figcaption> peisaj de iarna </figcaption>
</figure>




</body>






 </html>
