<!DOCTYPE html> 
<html lang="ro"> 
<head> 

<style type="text/css">




.patrat{
   display:inline-block; 
   width:150px;
   height:150px;
   background-color:red;
 }





#drept{
 display:inline-block; 
   width:40px;
   height:500px;
   background-color:green;
   position:absolute; 
   left:30px;
   z-index:0;
}



p{font-weight:bold;}

.peste{ position:absolute; z-index:100;
  }



</style>


<meta charset="utf-8">
<title> blabla </title>
<link href="favi.png" type="image/png" rel="shortcut icon" />
 </head>

<body> 


 
</body>
</html>

 <div id="drept"> </div>

<p class="peste">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus rhoncus ante tincidunt commodo. In in nibh vitae enim interdum lobortis. Duis euismod condimentum lacus, eget hendrerit nisi semper vel. Proin tincidunt suscipit rhoncus. Nam at iaculis dolor. Proin at facilisis leo, non ullamcorper urna. Mauris auctor sagittis nibh, ac viverra nisl lobortis ut. Morbi et arcu eget purus tristique tempus. Duis ac urna leo. Maecenas sagittis enim ac suscipit porttitor. Sed turpis nunc, luctus id interdum nec, suscipit sed lectus. Nam sagittis elementum enim imperdiet ullamcorper. Fusce laoreet fermentum dui in tempor. Nam rhoncus, tellus sed rutrum porta, nisi leo euismod ante, et luctus elit sem eu mi.

<p/>

<p> <span class="patrat" >   </span>  </p>

<p>  <span class="patrat peste">   </span> </p>
