<!DOCTYPE html> 
<html lang="ro"> 
<head> 

<style type="text/css">




.patrat{
   display:inline-block; 
   width:50px;
   height:50px;
   background-color:yellow;
 }


.patrat#deplasat{
   position:relative;
   left:25px;
 }

.patrat#centrat{
   position:relative;
   top:20px;
 }




</style>


<meta charset="utf-8">
<title> positioning </title>
<link href="favi.png" type="image/png" rel="shortcut icon" />
 </head>

<body> 


 
</body>
</html>

<!-- <div id="id1"> <span class="vanish"> Hello </span> </div> -->

<p> text <span class="patrat">   </span> text </p>

<p> text <span class="patrat" id="deplasat">   </span> text <span class="patrat" id="centrat"></span> text </p>

